* {
  box-sizing: border-box;
}

html {
  background-color: #35011F;
  background: url('https://user-images.githubusercontent.com/51786125/61760594-9877fa00-adbb-11e9-8ff0-7e460d995c8e.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin:0;
}

.top-div h1 {
  font-size: 2rem;
  margin-top:16rem;
  padding-top:100px;
}

.landing-page {
  margin-top:80px;
}

.projects {
  padding-top:100px;
}

.contact-me {
  margin-bottom:10px;
}

.project-app:hover, .contact-icon:hover {
  background-color: #3E5C76;
}

h1, h2, h3 {
  font-family: 'Proza Libre', sans-serif;
  padding:10px;
}

 h1 {
   font-size: 32px;
 }

h2 {
  font-size: 24Spx;
}

.logo {
  width:12rem;
  margin-left:.5rem;
}

header {
  font-family: 'Darker Grotesque', sans-serif;
  background-color:rgba(117, 62, 95, 1);
  text-align: center;
  position: fixed;
  width:100%;
  top:0;
  z-index: 999;
  }

/* nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: rgba(117, 62, 95, 1);
  width:10rem;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity:0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle {
  display:none;
}

.nav-toggle-label {
  position: absolute;
  top:0;
  left:0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display:block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content:'';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav a {
  opacity:1;
  transition: opacity 250ms ease-in-out 250ms;
} */

  /* Nav stuff */
  .nav-toggle-label {
    display:none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20px;
    text-transform: uppercase;
    font-size: 22px;
    
  }

  .nav-links {
    display:flex;
    justify-content: space-around;
    width: 50%;
    min-width: 400px;
  }

  .nav-links li {
    list-style: none;
    max-width: 700px;
  }

  .nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  }

  .burger {
      display: none;
      cursor: pointer;
    }
    
  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:black;
  }

.web-icons {
  width: 100%;
  max-width: 500px;
}

.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

section {
  min-height: 200px;
  background-color: rgba(146, 129, 122,.6);
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 32px;
  color: #F0EFF0;
  text-align: center;
  line-height: 1.5;
}

section:nth-child(even) {
  background-color: rgba(0,5,0,.6);
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 32px;
  color: #F0EFF0;
  text-align: center;
  line-height: 1.5;
}

 .wrapper-contact-icon {
  display: flex;
  justify-content: space-around;
  margin-bottom:10px;
  max-width: 700px;
}  

.project-app {
  display: block;
  min-height: 300px;
  min-width: 200px;
  border: 1px solid black;
  margin:10px;
  padding: 10px;
  font-size: 18px;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 24px;
  color: #F0EFF0;
  text-align: center;
  line-height: 1.5;
}

.wrapper-bio-pic {
  display:flex;
  margin: 20px;
  padding-top:100px;
}

.hide {
  display:none;
}

.contact-icon {
  display: flex;
  border: 1px solid black;
  margin: auto;
  margin-bottom:10px;
}

.large-screen-shot {
  display:block;
  width:100%;
  max-width: 500px;
  border: 1px solid black;
}

.profile-pic {
  background: url("https://user-images.githubusercontent.com/51786125/61676251-c4777a80-acea-11e9-8f78-806af9b12fe5.png");
  background-repeat: no-repeat;
  background-position: right top;
  min-width: 60px;
  min-height: 230px;
  margin: 10px;
  margin-bottom:0px;
}

.profile-pic:hover {
  background: url("https://user-images.githubusercontent.com/51786125/61676248-c2adb700-acea-11e9-9bc3-7787c3abcd01.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.email-icon, .linkedin-icon, .github-icon {
  width: 80px;
  height:80px;
}

.p1 {
  margin-top:0;
}

.p2h {
  display:none;
}
.nav-active {
  transform: translateX(0%);
}

@media screen and (max-width:719px) {

  body {
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color:rgba(117, 62, 95, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform: translateX(100%);
    transition: transform .5x ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display:block;
  }

}







@media screen and (min-width:720px) {
  .project-app {
    min-width: 320px;
    display:block;
  }

  .wrapper-contact-icon {
    margin: 30px auto;
    max-width: 700px;
  }  

  .profile-pic {
    min-width: 260px;
    min-height: 420px;
   }

  .large-screen-shot{
    display: inline-block;
    width:50%;
  }

  .p1, .p2, .p2h {
    text-align: left;
  }

  .top-p {
    display: flex;
    flex-direction: row-reverse;
  }

  /* Nav stuff */
  .nav-toggle-label {
    display:none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20px;
    text-transform: uppercase;
    font-size: 22px;
    
  }

  .nav-links {
    display:flex;
    justify-content: space-around;
    width: 30%;
    min-width: 400px;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  }

    .burger {
      display: none;
    }

  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:black;
  }







}

@media screen and (min-width:1199px) {

  .p2h {
    display:flex;
    
  }

  .p2 {
    display:none;
  }

  .top-p {
    flex-wrap: flex;
  }

}