* {
  box-sizing: border-box;
}

body {
  font-family: 'Proza Libre', "Open Sans", sans-serif; 
  font-size: 24px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border:1px solid black;
}

section {
  min-height: 200px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

 .wrapper-contact-icon {
  display: flex;
  /* justify-content: center; */
  margin: auto;
}  

.project-app {
  display: block;
  /* flex-direction: row; */
  min-height: 300px;
  min-width: 200px;
  border: 1px solid black;
  margin:10px;
  padding: 10px;
  font-size: 18px;
}

.wrapper-bio-pic {
  display:flex;
  margin: 20px;
  
}

.hide {
  display:none;
}

.contact-icon {
  display: flex;
  min-height: 100px;
  min-width: 80px;
  border: 1px solid black;
  margin: auto;
}

.large-screen-shot {
  display:block;
  min-width: 200px;
  min-height: 300px;
  border: 1px solid black;
}

.profile-pic {
  background: url("https://user-images.githubusercontent.com/51786125/61676251-c4777a80-acea-11e9-8f78-806af9b12fe5.png");
  background-repeat: no-repeat;
}
.profile-pic:hover {
  background: url("https://user-images.githubusercontent.com/51786125/61676248-c2adb700-acea-11e9-9bc3-7787c3abcd01.png");
  background-repeat: no-repeat;
}

@media screen and (min-width:720px) {
  .project-app {
    min-width: 320px;
    display:block;
  }

  .contact-icon {
    min-width: 120px;
  }

  .wrapper-contact-icon {
    margin: 30px auto;
    max-width: 700px;
  }  

  .profile-pic {
    display:inline;
    min-width: 260px;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 4px -3px 5px 0px black;
  }

  .large-screen-shot{
    display: inline-block;
    width:50%;
  }

  .wrapper-project-apps {
    display:flex;
  }
}

@media screen and (min-width:1199px) {
  .wrapper-project-app {
    display: flex;
  }

  .large-screen-shot {
    display:inline;
  }

  .app-text {
    display:block;
  }

  .project-app {
    display:flex;
  }
}